.bgColor1 {
    background-color: #5D737E;
}
.bgColor2 {
    background-color: #64B6AC;
}
.bgColor3 {
    background-color: #C0FDFb;
}
.bgColor4 {
    background-color: #DAFFEF;
}
.bgColor5 {
    background-color: #FCFFFD;
}
